<div class='jumbotron'>
	<div class='container'>
		<h1>Global Stream</h1>
		<p>This lists the most recent posts on the ADN global stream.</p>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>	
			<% @stream.each do |s| %>
			<% username = s['user']['username'] %>
			<% avatar = s['user']['avatar_image']['url'] %>
			<% post = s['html'].html_safe %>
				<div class='media'>
					<%= link_to(image_tag(avatar, size: '100'), user_path(username), { class: 'pull-left' }) %>
					<div class='media-body'>
						<h4 class='media-heading'><%= username %></h4>
						<p><%= post %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>